In [39]:
import pandas as pd
from datetime import datetime as datetime
from datetime import timedelta

# E294

In [12]:
#e294 = pd.read_excel("/Users/sebastianbedoyamazo/Documents/experiments/E294 Data Base FINAL.xlsx", 'SAS Fixed', skiprows = 2, nrows=48,  usecols= 'A:D')

In [10]:
df294 = pd.read_excel("/Users/dvarelat/Documents/SIWA/PERFORMANCE/E294 Data Base FINAL.xlsx", 'SAS Fixed', nrows=45)
df294.head(3)

,Obs,Rep,Corral,Trt,Ganoderma,Antibiotics$,Sexo$,StDate,StWt,W1Date,...,Phase3ADG,Phase3ADFI,Phase3FCR,StEndADG,StEndADFI,StEndFCR,StEndFeedPrice,StEndFeedCost,FeedCostPerkgGain,Unnamed: 59
0,1,1,1,2,0,No,M,43424,5.280000,43431,...,694.920635,1088.042328,1.565707,580.524781,846.705539,1.458517,NaN,NaN,NaN,NaN
1,2,1,2,3,200,No,M,43424,5.291429,43431,...,706.349206,1096.719577,1.552659,550.087464,816.384840,1.484100,NaN,NaN,NaN,NaN
2,3,1,3,5,400,Yes,M,43424,5.288571,43431,...,717.248677,1019.470899,1.421363,565.947522,774.110787,1.367814,NaN,NaN,NaN,NaN

In [5]:
df294.shape

(45, 60)

In [6]:
df294.columns

Index(['Obs', 'Rep', 'Corral', 'Trt', 'Ganoderma', 'Antibiotics$', 'Sexo$',
       'StDate', 'StWt', 'W1Date', 'W1Wt', 'W1WtCV', 'W1ADG', 'W1ADFI',
       'W1FCR', 'W2Date', 'W2Wt', 'W2ADG', 'W2ADFI', 'W2FCR', 'W3Date', 'W3Wt',
       'W3WtCV', 'W3ADG', 'W3ADFI', 'W3FCR', 'Phase2ADG', 'Phase2ADFI',
       'Phase2FCR', 'W4Date', 'W4Wt', 'W4ADG', 'W4ADFI', 'W4FCR', 'W5Date',
       'W5Wt', 'W5ADG', 'W5ADFI', 'W5FCR', 'W6Date', 'W6Wt', 'W6ADG', 'W6ADFI',
       'W6FCR', 'W7Date', 'W7Wt', 'W7WtCV', 'W7ADG', 'W7ADFI', 'W7FCR',
       'Phase3ADG', 'Phase3ADFI', 'Phase3FCR', 'StEndADG', 'StEndADFI',
       'StEndFCR', 'StEndFeedPrice', 'StEndFeedCost', 'FeedCostPerkgGain',
       'Unnamed: 59'],
      dtype='object')

In [11]:
df294 = df294[['Rep', 'Corral', 'Trt','Sexo$','StWt','W1Wt', 'W1ADG', 
               'W1ADFI', 'W1FCR',"W3Wt", 'Phase2ADG', 'Phase2ADFI', 'Phase2FCR',"W7Wt",'Phase3ADG', 
               'Phase3ADFI', 'Phase3FCR','StEndADG', 'StEndADFI','StEndFCR']]
df294.head(3)

,Rep,Corral,Trt,Sexo$,StWt,W1Wt,W1ADG,W1ADFI,W1FCR,W3Wt,Phase2ADG,Phase2ADFI,Phase2FCR,W7Wt,Phase3ADG,Phase3ADFI,Phase3FCR
0,1,1,2,M,5.280000,7.231429,278.775510,263.265306,0.944363,14.962857,515.428571,684.571429,1.328160,33.725714,694.920635,1088.042328,1.565707
1,1,2,3,M,5.291429,6.842857,221.632653,228.163265,1.029466,13.174286,422.095238,586.285714,1.388989,32.245714,706.349206,1096.719577,1.552659
2,1,3,5,M,5.288571,6.654286,195.102041,187.346939,0.960251,13.654286,466.666667,606.285714,1.299184,33.020000,717.248677,1019.470899,1.421363

In [17]:
#df294['StDate'] = pd.to_datetime(df294['StDate']).dt.date

In [12]:
df294.rename(columns  = {'Rep':"Block", "Antibiotics$":"Antibiotics" , 
                         "Corral":"Pen",'Sexo$':"Sex","StWt":"Phase0Wt",'W1Wt':"Phase1Wt", 
                         'W1ADG':"Phase1ADG", 'W1ADFI':"Phase1ADFI",'W1FCR':"Phase1FCR","W3Wt":"Phase2Wt",
                         "W7Wt":"Phase3Wt",'StEndADG':'StoFADG', 'StEndADFI':'StoFADFI','StEndFCR':'StoFFCR'}, inplace = True)

df294.head()

,Block,Pen,Trt,Sex,Phase0Wt,Phase1Wt,Phase1ADG,Phase1ADFI,Phase1FCR,Phase2Wt,Phase2ADG,Phase2ADFI,Phase2FCR,Phase3Wt,Phase3ADG,Phase3ADFI,Phase3FCR
0,1,1,2,M,5.280000,7.231429,278.775510,263.265306,0.944363,14.962857,515.428571,684.571429,1.328160,33.725714,694.920635,1088.042328,1.565707
1,1,2,3,M,5.291429,6.842857,221.632653,228.163265,1.029466,13.174286,422.095238,586.285714,1.388989,32.245714,706.349206,1096.719577,1.552659
2,1,3,5,M,5.288571,6.654286,195.102041,187.346939,0.960251,13.654286,466.666667,606.285714,1.299184,33.020000,717.248677,1019.470899,1.421363
3,1,4,1,M,5.288571,7.540000,321.632653,297.959184,0.926396,15.457143,527.809524,707.619048,1.340671,34.520000,706.031746,1196.402116,1.694544
4,1,5,4,M,5.280000,6.962857,240.408163,240.408163,1.000000,13.088571,408.380952,567.809524,1.390392,31.122857,667.936508,1049.100529,1.570659

In [13]:
df294[["Phase0Wt","Phase1Wt","Phase1ADG", "Phase1ADFI","Phase1FCR","Phase2Wt",'Phase2ADG', 'Phase2ADFI', 'Phase2FCR',"Phase3Wt",'Phase3ADG', 'Phase3ADFI', 'Phase3FCR']].describe(include='all').apply(lambda x: round(x, 2))

,Phase0Wt,Phase1Wt,Phase1ADG,Phase1ADFI,Phase1FCR,Phase2Wt,Phase2ADG,Phase2ADFI,Phase2FCR,Phase3Wt,Phase3ADG,Phase3ADFI,Phase3FCR
count,45.00,45.00,45.00,45.00,45.00,45.00,45.00,45.00,45.00,45.00,45.00,45.00,45.00
mean,5.52,7.30,255.41,246.90,0.97,14.26,463.13,637.05,1.38,33.20,701.16,1091.31,1.56
std,0.16,0.34,32.67,30.69,0.06,0.73,34.54,45.73,0.04,1.53,38.53,63.14,0.05
min,5.28,6.65,195.10,186.94,0.88,13.02,393.52,563.05,1.28,28.76,581.38,951.43,1.42
25%,5.39,7.07,231.43,225.71,0.93,13.77,435.81,604.38,1.34,32.46,670.05,1042.33,1.53
50%,5.51,7.23,251.84,242.45,0.96,14.28,465.14,646.29,1.38,33.33,709.63,1096.72,1.56
75%,5.63,7.59,276.73,270.20,1.01,14.87,484.38,671.62,1.40,34.22,721.90,1136.08,1.58
max,5.81,7.92,321.63,307.76,1.12,15.79,527.81,737.33,1.47,36.69,786.35,1271.85,1.69

In [ ]:
print(df294.Phase0Wt.unique())
print(df294.Phase1Wt.unique())
print(df294.Phase1ADG.unique())
print(df294.Phase1ADFI.unique())
print(df294.Phase2Wt.unique())
print(df294.Phase2ADG.unique())
print(df294.Phase2ADFI.unique())
print(df294.Phase2FCR.unique())
print(df294.Phase3Wt.unique())
print(df294.Phase3ADG.unique())
print(df294.Phase3ADFI.unique())
print(df294.Phase3FCR.unique())

In [14]:
df294["House"] = "1"
df294["Phase0Date"] = "20181120"
df294["Phase1Date"] = "20181127"
df294["Phase2Date"] = "20181212"
df294["Phase3Date"] = "20190108"
df294.head(3)

,Block,Pen,Trt,Sex,Phase0Wt,Phase1Wt,Phase1ADG,Phase1ADFI,Phase1FCR,Phase2Wt,...,Phase2FCR,Phase3Wt,Phase3ADG,Phase3ADFI,Phase3FCR,House,Phase0Date,Phase1Date,Phase2Date,Phase3Date
0,1,1,2,M,5.280000,7.231429,278.775510,263.265306,0.944363,14.962857,...,1.328160,33.725714,694.920635,1088.042328,1.565707,1,20181120,20181127,20181212,20190108
1,1,2,3,M,5.291429,6.842857,221.632653,228.163265,1.029466,13.174286,...,1.388989,32.245714,706.349206,1096.719577,1.552659,1,20181120,20181127,20181212,20190108
2,1,3,5,M,5.288571,6.654286,195.102041,187.346939,0.960251,13.654286,...,1.299184,33.020000,717.248677,1019.470899,1.421363,1,20181120,20181127,20181212,20190108

In [21]:
df294["Phase1Days"] = dt.strptime(str(int("20181127")), '%Y%m%d')  - dt.strptime(str(int("20181120")), '%Y%m%d') 
df294["Phase2Days"] = dt.strptime(str(int("20181212")), '%Y%m%d')  - dt.strptime(str(int("20181127")), '%Y%m%d') 
df294["Phase3Days"] = dt.strptime(str(int("20190108")), '%Y%m%d')  - dt.strptime(str(int("20181212")), '%Y%m%d') 
df294["StoFDays"] = dt.strptime(str(int("20190108")), '%Y%m%d')  - dt.strptime(str(int("20181120")), '%Y%m%d') 

df294[[i for i in df294.columns if "Days" in i]].head(3)

  Phase1Days Phase2Days Phase3Days StoFDays
0     7 days    15 days    27 days  49 days
1     7 days    15 days    27 days  49 days
2     7 days    15 days    27 days  49 days

In [24]:
df294["Phase1Days"] = 7
df294["Phase2Days"] = 15 
df294["Phase3Days"] = 27
df294["StoFDays"] = 49
df294.head()

,Block,Pen,Trt,Sex,Phase0Wt,Phase1Wt,Phase1ADG,Phase1ADFI,Phase1FCR,Phase2Wt,...,Phase3FCR,House,Phase0Date,Phase1Date,Phase2Date,Phase3Date,Phase1Days,Phase2Days,Phase3Days,StoFDays
0,1,1,2,M,5.280000,7.231429,278.775510,263.265306,0.944363,14.962857,...,1.565707,1,20181120,20181127,20181212,20190108,7,15,27,49
1,1,2,3,M,5.291429,6.842857,221.632653,228.163265,1.029466,13.174286,...,1.552659,1,20181120,20181127,20181212,20190108,7,15,27,49
2,1,3,5,M,5.288571,6.654286,195.102041,187.346939,0.960251,13.654286,...,1.421363,1,20181120,20181127,20181212,20190108,7,15,27,49
3,1,4,1,M,5.288571,7.540000,321.632653,297.959184,0.926396,15.457143,...,1.694544,1,20181120,20181127,20181212,20190108,7,15,27,49
4,1,5,4,M,5.280000,6.962857,240.408163,240.408163,1.000000,13.088571,...,1.570659,1,20181120,20181127,20181212,20190108,7,15,27,49

### traer hoja Peso indv

In [26]:
dfmor = pd.read_excel("/Users/dvarelat/Documents/SIWA/PERFORMANCE/E294 Data Base FINAL.xlsx", 'Peso Indv.', skiprows = 1)
dfmor.head(3)

,Rep,Corral,Cerdo No,Sexo,Tto,InicioFecha,InicioPeso,S1Fecha,S1Peso,S1GDP,...,S5GDP,S5Comentario,S6Fecha,S6Peso,S6GDP,S6Comentario,S7Fecha,S7Peso,S7GDP,S7Comentario
0,1,1,39,M,2,2018-11-20,3.86,2018-11-27,5.18,0.188571,...,0.685,NaN,2019-01-02,25.3,0.688571,NaN,2019-01-08,29.86,0.76,NaN
1,1,1,85,M,2,2018-11-20,6.08,2018-11-27,8.16,0.297143,...,0.79,NaN,2019-01-02,30.96,0.762857,NaN,2019-01-08,34.1,0.523333,NaN
2,1,1,96,M,2,2018-11-20,5.68,2018-11-27,7.14,0.208571,...,0.3475,NaN,2019-01-02,28.9,0.8,NaN,2019-01-08,33.7,0.8,NaN

In [31]:
dfmor.columns

Index(['Rep', 'Corral', 'Cerdo No', 'Sexo', 'Tto', 'InicioFecha', 'InicioPeso',
       'S1Fecha', 'S1Peso', 'S1GDP', 'S1 Comentarios', 'S2Fecha', 'S2Peso',
       'S2GDP', 'S2Comentario', 'S3Fecha', 'S3Peso', 'S3GDP', 'S3Comentario',
       'S4Fecha', 'S4Peso', 'S4GDP', 'S4Comentario', 'S5Fecha', 'S5Peso',
       'S5GDP', 'S5Comentario', 'S6Fecha', 'S6Peso', 'S6GDP', 'S6Comentario',
       'S7Fecha', 'S7Peso', 'S7GDP', 'S7Comentario'],
      dtype='object')

In [30]:
#dfmor.pivot_table(index = ['Corral'], aggfunc ='size')
dfmor.groupby(["Corral"]).count()["Rep"]

Corral
1     7
2     7
3     7
4     7
5     7
6     7
7     7
8     7
9     7
10    7
11    7
12    7
13    7
14    7
15    7
16    7
17    7
18    7
19    7
20    7
21    7
22    7
25    7
27    7
28    7
29    7
30    7
31    7
32    7
33    7
34    7
35    7
36    7
37    7
38    7
39    7
40    7
41    7
42    7
43    7
44    7
45    7
46    7
47    7
48    7
Name: Rep, dtype: int64

In [37]:
df294["Phase0Count"] = 7
df294["Phase1Count"] = 7
df294["Phase2Count"] = 7
df294["Phase3Count"] = 7
df294["Phase1Mort"] = 0
df294["Phase2Mort"] = 0
df294["Phase3Mort"] = 0

df294.head(3)

,Block,Pen,Trt,Sex,Phase0Wt,Phase1Wt,Phase1ADG,Phase1ADFI,Phase1FCR,Phase2Wt,...,Phase2Days,Phase3Days,StoFDays,Phase0Count,Phase1Count,Phase2Count,Phase3Count,Phase1Mort,Phase2Mort,Phase3Mort
0,1,1,2,M,5.280000,7.231429,278.775510,263.265306,0.944363,14.962857,...,15,27,49,7,7,7,7,0,0,0
1,1,2,3,M,5.291429,6.842857,221.632653,228.163265,1.029466,13.174286,...,15,27,49,7,7,7,7,0,0,0
2,1,3,5,M,5.288571,6.654286,195.102041,187.346939,0.960251,13.654286,...,15,27,49,7,7,7,7,0,0,0

In [47]:
df294[df294.Pen == 41]["Phase2Count"] = 6

/var/folders/bt/7wh6kgqj5dj7b4nzk088_fm5g8zk0t/T/ipykernel_45228/2544012874.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df294[df294.Pen == 41]["Phase2Count"] = 6

In [60]:
df294.loc[df294[df294.Pen == 41].index[0], "Phase2Count"] = 6
df294.loc[df294[df294.Pen == 34].index[0], "Phase3Count"] = 6
df294.loc[df294[df294.Pen == 20].index[0], "Phase3Count"] = 6
df294.loc[df294[df294.Pen == 41].index[0], "Phase3Count"] = 6

df294.loc[df294[df294.Pen == 41].index[0], "Phase2Mort"] = 1
df294.loc[df294[df294.Pen == 34].index[0], "Phase3Mort"] = 1
df294.loc[df294[df294.Pen == 20].index[0], "Phase3Mort"] = 1

In [63]:
df294 = df294[['House','Block', 'Pen', 'Trt', 'Sex', 'Phase0Date', 'Phase0Count', 'Phase0Wt',
        'Phase1Date','Phase1Count','Phase1Days','Phase1Wt', 'Phase1ADG', 'Phase1ADFI', 'Phase1FCR', 'Phase1Mort',
        'Phase2Date','Phase2Count','Phase2Days','Phase2Wt', 'Phase2ADG', 'Phase2ADFI', 'Phase2FCR', 'Phase2Mort',
        'Phase3Date','Phase3Count','Phase3Days','Phase3Wt', 'Phase3ADG','Phase3ADFI', 'Phase3FCR', 'Phase3Mort',
        'StoFDays']]
df294.head()

,House,Block,Pen,Trt,Sex,Phase0Date,Phase0Count,Phase0Wt,Phase1Date,Phase1Count,...,Phase2Mort,Phase3Date,Phase3Count,Phase3Days,Phase3Wt,Phase3ADG,Phase3ADFI,Phase3FCR,Phase3Mort,StoFDays
0,1,1,1,2,M,20181120,7,5.280000,20181127,7,...,0,20190108,7,27,33.725714,694.920635,1088.042328,1.565707,0,49
1,1,1,2,3,M,20181120,7,5.291429,20181127,7,...,0,20190108,7,27,32.245714,706.349206,1096.719577,1.552659,0,49
2,1,1,3,5,M,20181120,7,5.288571,20181127,7,...,0,20190108,7,27,33.020000,717.248677,1019.470899,1.421363,0,49
3,1,1,4,1,M,20181120,7,5.288571,20181127,7,...,0,20190108,7,27,34.520000,706.031746,1196.402116,1.694544,0,49
4,1,1,5,4,M,20181120,7,5.280000,20181127,7,...,0,20190108,7,27,31.122857,667.936508,1049.100529,1.570659,0,49

In [66]:
df294.to_excel("/Users/dvarelat/Documents/SIWA/PERFORMANCE/Performance_template/performance_E294.xlsx", 
               header=True, index=False, sheet_name='performance_phases')

# E271

In [25]:
df271 = pd.read_excel("/Users/sebastianbedoyamazo/Documents/experiments/Libro de datos E-271 Probióticos NF revisión 18-07-2022.xlsx", "Datos Estadística")
df271.head()

,Galpon,Bloque,Zona,Lado,Corral,Tratamiento,Aves finales sem6,Aves finales sem1,BW8/A Fin. W1,"BW1, G",...,Mort+desc 14a21 (%),Mort+desc 21a28 (%),Mort+desc 28a35 (%),Mort+desc 35a42 (%),Mort+desc 8a21 (%),Mort+desc 21a35 (%),Mort+desc 0a42 (%),"Mort+cull 29-42, %","Mort+cull 22-42, %","Mort+cull 0-42, %"
0,1,1,Puerta,A,1,1.0,28,34,140.882353,42.457143,...,3.333333,0.000000,3.448276,0.000000,#REF!,3.448276,9.638752,3.448276,3.448276,9.638752
1,1,1,Puerta,A,2,2.0,27,32,151.65625,42.571429,...,3.333333,0.000000,3.448276,3.571429,#REF!,3.448276,18.924466,7.019704,7.019704,18.924466
2,1,1,Puerta,A,3,1.0,26,34,151.176471,42.114286,...,6.896552,0.000000,3.703704,0.000000,#REF!,3.703704,13.457398,3.703704,3.703704,9.89418
3,1,1,Puerta,A,4,2.0,26,34,154.147059,43.485714,...,3.448276,3.571429,3.703704,0.000000,#REF!,7.275132,16.521727,3.703704,3.703704,16.398575
4,1,1,Puerta,A,5,1.0,27,34,150.382353,42.285714,...,3.333333,0.000000,3.448276,3.571429,#REF!,3.448276,13.210181,7.019704,10.591133,16.896552

In [27]:
print(list(df271.columns))

['Galpon', 'Bloque', 'Zona', 'Lado', 'Corral', 'Tratamiento', 'Aves finales sem6', 'Aves finales sem1', 'BW8/A Fin. W1', 'BW1, G', 'BW7, G', 'BW7 (dens. Adj), g', 'BW14, g', 'BW21, g', 'BW28, g', 'BW35, g', 'BW42, g', 'FI 0-7, g', 'FI 8-14, g', 'FI 0-14, g', 'FI 15-21, g', 'FI 8-21, g', 'FI 0-21, g', 'FI 22-28, g', 'FI 15-28, g', 'FI 29-35, g', 'FI 22-35, g', 'FI 36-42, g', 'FI 22-42, g', 'FI 29-42, g', 'FI 0-42, g', 'BWG 0-7, g', 'BWG 8-14, g', 'BWG 0-14, g', 'BWG 15-21, g', 'BWG 8-21, g', 'BWG 0-21, g', 'BWG 22-28, g', 'BWG 15-28, g', 'BWG 29-35, g', 'BWG 22-35, g', 'BWG 36-42, g', 'BWG 29-42, g', 'BWG 22-42, g', 'BWG 0-42, g', 'cBWG 0-7, g', 'cBWG 8-14, g', 'cBWG 0-14, g', 'cBWG 15-21, g', 'cBWG 8-21, g', 'cBWG 0-21, g', 'cBWG 22-28, g', 'cBWG 15-28, g', 'cBWG 29-35, g', 'cBWG 22-35, g', 'cBWG 36-42, g', 'cBWG 29-42, g', 'cBWG 22-42, g', 'cBWG 0-42, g', 'FCR 0-7', 'cFCR 0-7', 'FCR 8-14', 'cFCR 8-14', 'FCR 0-14', 'cFCR 0-14', 'FCR 15-21', 'cFCR 15-21', 'FCR 8-21', 'cFCR 8-21', 'FCR 0-21', 'cFCR 0-21', 'FCR 22-28', 'cFCR 22-28', 'FCR 15-28', 'cFCR 15-28', 'FCR 29-35', 'cFCR 29-35', 'FCR 22-35', 'cFCR 22-35', 'FCR 36-42', 'cFCR 36-42', 'FCR 29-42', 'cFCR 29-42', 'FCR 22-42', 'cFCR 22-42', 'FCR 0-42', 'cFCR 0-42', 'Mort+cull 0-7, %', 'Mort+cull 8-14, %', 'Mort+cull 0-14, %', 'Mort+cull 15-21, %', 'Mort+cull 22-28, %', 'Mort+cull 15-28, %', 'Mort+cull 29-35, %', 'Mort+cull 36-42, %', 'Mort+desc 14a21 (%)', 'Mort+desc 21a28 (%)', 'Mort+desc 28a35 (%)', 'Mort+desc 35a42 (%)', 'Mort+desc 8a21 (%)', 'Mort+desc 21a35 (%)', 'Mort+desc 0a42 (%)', 'Mort+cull 29-42, %', 'Mort+cull 22-42, %', 'Mort+cull 0-42, %']

In [29]:
df271["Block"] = df271['Zona'].map(str) + '-' + df271['Bloque'].map(str) + '' + df271['Lado'].map(str)

In [32]:
df271[[i for i in df271.columns if "FI" in i]].columns

Index(['FI 0-21, g', 'FI 22-42, g', 'FI 0-42, g'], dtype='object')

In [31]:
df271 = df271[['Galpon', "Block", 'Corral', 'Tratamiento',
                      'BW1, G','BW21, g', 'BW42, g',
                      'cBWG 0-21, g','cBWG 22-42, g', 'cBWG 0-42, g',
                      'FI 0-21, g', 'FI 22-42, g','FI 0-42, g',
                      'cFCR 0-21','cFCR 22-42','cFCR 0-42']]

In [34]:
df271.rename(columns  = {'Galpon':'House', 'Corral':'Pen', 'Tratamiento':'Trt',
                      'BW1, G':'Phase0Wt','BW21, g':'Phase1Wt', 'BW42, g':'Phase2Wt',
                      'cBWG 0-21, g':'Phase1BWG','cBWG 22-42, g':'Phase2BWG', 'cBWG 0-42, g':'StoFBWG',
                      'FI 0-21, g':'Phase1FI', 'FI 22-42, g':'Phase2FI','FI 0-42, g':"StoFFI",
                      'cFCR 0-21':'Phase1FCR','cFCR 22-42':'Phase2FCR','cFCR 0-42':'StoFFCR'}, inplace = True)
df271.head()

,House,Block,Pen,Trt,Phase0Wt,Phase1Wt,Phase2Wt,Phase1BWG,Phase2BWG,StoFBWG,Phase1FI,Phase2FI,StoFFI,Phase1FCR,Phase2FCR,StoFFCR
0,1,Puerta-1A,1,1.0,42.457143,743.103448,2856.785714,698.71168,2068.460591,2767.172271,1101.405003,3332.500000,4433.905003,1.576337,1.611102,1.602323
1,1,Puerta-1A,2,2.0,42.571429,780.000000,2921.111111,741.04842,2067.548349,2808.596768,1022.432471,3402.430670,4424.863141,1.379711,1.645635,1.575471
2,1,Puerta-1A,3,1.0,42.114286,797.777778,2877.307692,762.543633,2027.393162,2789.936795,1076.87454,3332.849003,4409.723543,1.412214,1.643909,1.580582
3,1,Puerta-1A,4,2.0,43.485714,796.071429,2938.461538,758.055501,2094.173789,2852.22929,1055.705303,3507.877493,4563.582796,1.392649,1.675065,1.600006
4,1,Puerta-1A,5,1.0,42.285714,833.103448,2887.407407,789.491741,1984.475917,2773.967658,1091.042596,3403.977833,4495.020429,1.381956,1.715303,1.62043

In [41]:
print((datetime.strptime("2017-10-13", '%Y-%m-%d') + timedelta(days=21)).strftime('%Y-%m-%d'))
print((datetime.strptime("2017-10-13", '%Y-%m-%d') + timedelta(days=42)).strftime('%Y-%m-%d'))

2017-11-03
2017-11-24

In [42]:
df271["Phase1Days"] = 21
df271["Phase2Days"] = 21 
df271["StoFDays"] = 42 
df271["Phase0Date"] = "20171013" 
df271["Phase1Date"] = "20171103" 
df271["Phase3Date"] = "20171124"
df271.head()

,House,Block,Pen,Trt,Phase0Wt,Phase1Wt,Phase2Wt,Phase1BWG,Phase2BWG,StoFBWG,...,StoFFI,Phase1FCR,Phase2FCR,StoFFCR,Phase1Days,Phase2Days,StoFDays,Phase0Date,Phase1Date,Phase3Date
0,1,Puerta-1A,1,1.0,42.457143,743.103448,2856.785714,698.71168,2068.460591,2767.172271,...,4433.905003,1.576337,1.611102,1.602323,21,21,42,20171013,20171103,20171124
1,1,Puerta-1A,2,2.0,42.571429,780.000000,2921.111111,741.04842,2067.548349,2808.596768,...,4424.863141,1.379711,1.645635,1.575471,21,21,42,20171013,20171103,20171124
2,1,Puerta-1A,3,1.0,42.114286,797.777778,2877.307692,762.543633,2027.393162,2789.936795,...,4409.723543,1.412214,1.643909,1.580582,21,21,42,20171013,20171103,20171124
3,1,Puerta-1A,4,2.0,43.485714,796.071429,2938.461538,758.055501,2094.173789,2852.22929,...,4563.582796,1.392649,1.675065,1.600006,21,21,42,20171013,20171103,20171124
4,1,Puerta-1A,5,1.0,42.285714,833.103448,2887.407407,789.491741,1984.475917,2773.967658,...,4495.020429,1.381956,1.715303,1.62043,21,21,42,20171013,20171103,20171124

In [ ]:
df271.to_excel("/Users/dvarelat/Documents/SIWA/PERFORMANCE/Performance_template/performance_E294.xlsx", 
               header=True, index=False, sheet_name='performance_phases')